.action {
    display: flex;
    align-items: center;
}

button {
    margin: 0 10px 0 0;
}

.text {
    margin-right: 10px;
}

#interests {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    max-width: 500px;
}

.interest_item {
    border-radius: 18px;
    border: 1px solid black;
    padding: 20px;
    width: auto;
    padding: 7px 10px;
    font-size: 14px;
}

.selected {
    color: rgb(227, 20, 62);
    border-color: rgb(227,20,62);
}

#interest_update {
    margin-left: 10px;
}

#bagel_name {
    font-size: 18px;
    font-weight: 200;
    margin: 20px 0 5px 0;
    width: 500px;
}

#image_buttons {
    text-align: center;
    width: 450px;
}

#title {
    font-size: 18px;
    font-weight: bold;
    margin: 12px 0 8px 0;
}

.parent {
    margin-top: 10px;
}

#user_photo {
    margin-right: 10px;
}