<!DOCTYPE html>
<html>
    <head>
        <title>Cupid</title>
        <link rel="stylesheet" href="/static/style.css"/>
    </head>
    <body>
            {% if user.logged_in %}
                <h3>Logged in as {{ user.user_name }}</h3>
                <div class="action">
                    <form action="/logout">
                    <button>Log out</button>
                </form>
            {% else %}
            <div class="action">
                <form action="/login">
                    <button>Log in</button>
                </form>
            {% endif %}    
            {% if request.path != "/" %}
                <form action="/cancel">
                    <button>Cancel</button>
                </form>        
            {% endif %}    
            </div>
        {% block main %}
        {% endblock %}
        <footer style="background-color: black; color: white;">copyright</footer>
    </body>
</html>