<!DOCTYPE html>
<html>
    <head>
        <title>Cupid</title>
        <link rel="stylesheet" href="/static/style.css"/>
        <script defer src="/static/script.js"></script>
    </head>
    <body>
        <div class="action">        
            {% if user.logged_in %}
                <img id="user_photo" src="{{user.user_photo}}" height="70">    
                <div class="text">Logged in as {{ user.user_name }}</div>
                <form action="/logout"><button>Log out</button></form>
                {% if request.path == "/" %}
                    <form action="/profile_update"><button>Update Profile</button></form>                
                {% endif %}    
            {% else %}
                <form action="/login">
                    <button>Log in</button>
                </form>
            {% endif %}    
            {% if request.path != "/" %}
                <form action="/cancel">
                    <button>Cancel</button>
                </form>        
            {% endif %}    
        </div>
        {% block main %}
        {% endblock %}
    </body>
</html>