{% extends "base.html" %}
{% block main %}
<div id="title" >Cupid</div>
<div>Over 90% of Cupid Daters are looking for a serious relationship. Can we introduce you?</div>
<img width="200" height="150" src="https://media.istockphoto.com/photos/the-cupid-on-the-white-background-picture-id1126475171?b=1&k=20&m=1126475171&s=170667a&w=0&h=2q9ZAnJ17K_GcXuWchUcjSoxelTbAlQHsRjl5-FCycY=">

<div id="name">{{bagel.name}}: {{bagel.age}}</div>
{% for code, description in user_interests %}
    <div class="interest_item">{{description}}</div>
{% endfor %}

<div class="parent">
    <img id="image1" src="{{bagel.photo_url}}">
    <div id="image_buttons">
        <a href="/like?id={{bagel.id}}&like=False"><img  height="70" src="static/cross.jpg" alt="Not like"></a>
        <a href="/like?id={{bagel.id}}&like=True"><img  height="65" src="static/love.jpg" alt="Like"></a>
    </div>
</div>

{% endblock %}